
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body, .container{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4em;
}  

/*chargement*/
.anim-bar {
  z-index: 60;
  position: absolute;
  width: 99%;
  margin: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  padding: 10px;
  text-align: center;
  color: rgba(255,255,255,100);
  background-image: linear-gradient(#FF0000, #FF8484);
  border-radius: 10px;
  animation: progress 6s;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 99%;
  }
}

/*background*/
.container {
  z-index: 10;
  background: linear-gradient(#007ced ,#cce7ff);
}

.cloud {
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
  animation: wind 20s linear infinite;
}

/*nuages*/
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

/*texte cligno*/
.anim span {
  animation: blink 1s infinite;
}

@keyframes blink { 
  0% { opacity:0; }
  50% { opacity:1; } 
  100% { opacity:0; }
}

/*mario*/

.mario {
  width: 95px;
  height: 145px;
  background:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8f33e32d-ffea-4567-9e67-03309084d3a1/dab5wii-75fe3686-159b-421c-9d8d-5c47f0f45c0d.png/v1/fill/w_291,h_572,strp/super_paper_mario_rpg_maker_ace_vx_sprite_sheet_by_honoramongscars_dab5wii-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTcyIiwicGF0aCI6IlwvZlwvOGYzM2UzMmQtZmZlYS00NTY3LTllNjctMDMzMDkwODRkM2ExXC9kYWI1d2lpLTc1ZmUzNjg2LTE1OWItNDIxYy05ZDhkLTVjNDdmMGY0NWMwZC5wbmciLCJ3aWR0aCI6Ijw9MjkxIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.6ZiddT0jhUO3xqcgt2hbbkmKrO3L2fDcvFlxUiyOHuI);
}

.terrain {
  z-index: 40;
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  background: url(https://t1.rbxcdn.com/811d7245e16a624e06a9be7b1e4bd18c) 27px -4px;
}

.mario {
  z-index: 50;
  position: absolute;
  top: 15px;
  animation: mario-run steps(2) 0.5s infinite,
             mario-movement 5s forwards;
}
.terrain {
  animation: ground 3s infinite linear;
}

@keyframes mario-run{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -195px 0;
  }
}

@keyframes mario-movement{
  to {
    margin: 0 500px;
  }
}

@keyframes ground{
  from {
    padding: -4px 0px;
  }
  to {
    background-position: -500px -4px;
  }
}

/*sun*/

.sun-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 75%;
  z-index: 20;
  background: linear-gradient(#ff0, #d00);
  box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  animation: rise 10s ease forwards;
}

@keyframes rise {
  0% {
    top: 100%;
  }
  100% {
    top: 5%;
  }
}